<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>RP Pollinations Bot</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div id="chat-container">
    <h1>RP Pollinations Bot</h1>
    <div id="messages"></div>
    <div id="input-container">
      <input type="text" id="message-input" placeholder="Type your message..." autocomplete="off" autofocus/>
      <button id="send-btn">Send</button>
    </div>
  </div>
  <script src="/static/script.js"></script>
</body>
</html>
